<%- include("templates/header", { title: title, user: user }) %>

<div class="text-center">
    <h1 class="display-4">404</h1>
    <p class="lead">
        Page not found.
    </p>

    <a class="btn btn-primary" href="/">
        Go home
    </a>
</div>

<%- include("templates/footer") %>